<html>
<head>
<title>Materialtyp</title>
</head>
<body>
<h2>Materialtyp List</h2>
<div th:unless="${#lists.isEmpty(materialTypen)}">
<dl th:each="materialTyp : ${materialTypen}">
<dt class="materialTypHeadline">
<span th:text="${materialTyp.menge}">Menge</span>
<span th:text="${materialTyp.beschreibung}">Beschreibung</span>
<span th:text="${materialTyp.link}">Link</span>
</dt>
</dl>
</div>
<div th:if="${#lists.isEmpty(materialTypen)}">
<p>You have no books in your book list</p>
</div>
<hr/>
</body>