<html>
<head>
<title>Admin User Verwaltung</title>
</head>
<body>
<h2>Admin-User-Verwaltung</h2>
<div th:unless="${#lists.isEmpty(benutzern)}">
<table class="table table-striped">
<thead>
<tr>
<th>Benutzername</th>
<th>Anzeigename</th>
<th>Dienstnummer</th>
</tr>
</thead>
<dl th:each="benutzer : ${benutzern}">
<tr>
<td th:text="${benutzer.benutzername}">benutzername</td>
<td th:text="${benutzer.anzeigename}">anzeigename</td>
<td th:text="${benutzer.dienstnummer}">dienstnummer</td>
<td><spring:url value="/users/${benutzer.benutzername}" var="userUrl" />
 	<button class="btn btn-primary" onclick="location.href='${deleteUrl}'">Delete</button>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(benutzern)}">
<p>Es gibt kein Benutzer</p>
</div>
<hr/>
</body>