<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title>Material</title>
</head>
<body>
<h2>Aktuelle Materialien</h2>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Der neue Mitarbeitertyp wurde erfolgreich eingetragen!
                </div>
            </div>
<div th:unless="${#lists.isEmpty(materialen)}">
<table class="table table-striped">
<thead>
<tr>
<th>Material</th>
<th>Bestand</th>
<th>Seriennummer</th>
<th>Einkaufsdatum</th>
<th>Letzte Überprüfungsdatum</th>
<th>Nächste Überprüfungsdatum</th>
<th>Einsatzbereichtschaft</th>
</tr>
</thead>
<dl th:each="material : ${materialen}">
<tr>
<td th:text="${material.materialtyp.name}"></td>
<td th:text="${material.bestand}"></td>
<td th:text="${material.seriennummer}"></td>
<td th:text="${material.einkaufsdatum}"></td>
<td th:text="${material.letztesudatum}"></td>
<td th:text="${material.naechstesudatum}"></td>
<td th:text="${material.einsatzbereitschaft}"></td>
<td>
<a href="#" data-th-href="@{/ntransaktion/{id}(id=${material.id})}">Lieferung(Eingabe/Ausgabe)</a>
</td>
<td>
<a href="#" data-th-href="@{/btransaktion/{id}(id=${material.id})}">Buchen/Abbestellen</a>
</td>
<td>
<a href="#" data-th-href="@{/inventur/{id}(id=${material.id})}">Inventur</a>
</td>
</tr>
</table>
</div>
<div th:if="${#lists.isEmpty(materialen)}">
<p>Es gibt kein Material in diesem Lager</p>
</div>
<hr/>
<form action="#" th:action="@{/materialen}" th:object="${material}" method="post">
    	<p> Materialtyp:
        <select th:field="*{materialtyp}">
  			<option th:each="materialtyp : ${alleMaterialtypen}" 
         	 th:value="${materialtyp.id}" 
       	     th:text="${materialtyp.name}"></option>
		</select></p>
		
<!--	<p> Lagerstandort:
 		<select th:field="*{lagerstandort}">
  			<option th:each="lagerstandort : ${alleLagerstandorten}" 
         	 th:value="${lagerstandort.id}" 
       	     th:text="${lagerstandort.name}"></option>
		</select></p> -->
		
    	<p>Seriennummer: <input type="text" th:field="*{seriennummer}" /></p>
    	<p>Bestand: <input type="number" th:field="*{bestand}" /></p>
    	<div th:if="${param.nobestand}">
		<div class="alert alert-info">
		Bestand kann keinen negativen Wert haben.
		</div>
		</div>   	
    	<p>Einkaufsdatum: <input type="date" th:field="*{einkaufsdatum}" /></p>
    	<p>Letztes Überprüfungsdatum:<input type="date" th:field="*{letztesudatum}" /></p>
    	<p>Nächstes Überprüfungsdatum:<input type="date" th:field="*{naechstesudatum}" /></p>
    	<p>Einsatzbereitschaft: <input type="checkbox" th:field="*{einsatzbereitschaft}" />
    	
        <p><input type="submit" value="Submit" /> </p>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.nomaterial}">
                <div class="alert alert-info">
                    Es Gibt kein Material in diesem Lager!
                </div>
            </div>
            
            <div th:if="${param.nerfolgreich}">
                <div class="alert alert-info">
                    Der Lieferschein wurde erflogreich eingetragen!
                </div>
            </div>

</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>