<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mitarbeitertyp Aktualisieren</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Mitarbeitertyp</h1>
    <form action="#" th:action="@{/mitarbeitertypupdate/{id}(id=${mitarbeitertyp.id})}" th:object="${mitarbeitertyp}" method="post">
    	<p>Kuerzel: <input type="text" th:field="*{kuerzel}" /></p>
    	  <div th:if="${param.alert}">
		<div class="alert alert-info">
		Es gibt schon ein Mitarbeitertyp mit gleichen Namen!
		</div>
		</div>
        <p>name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>
    <form th:action="@{/mitarbeitertypupdate/{id}/loeschen(id=${mitarbeitertyp.id})}" th:object="${mitarbeitertyp}" method="post" >
		<button type="submit" onclick="return Confirm('sicher?')">L&ouml;schen</button>
	</form>
		</br>
	<button onclick="goBack()">Abbrechen</button>
	<script>
	function goBack() {
	    window.history.back();
	}
	</script>
</body>
</html>